#mainBlock {
  background-color: darkblue;
  width: 970px;
  height: 900px;
}

#title {
  background-color: red;
  width: 950px;
  height: 50px;
  margin: 10px;
  margin-top: 2px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 3px;
  font-size: 15px;
  color: whitesmoke;
}
#text {
  position: relative;
  left: 10px;
  bottom: 10px;
}
#menu {
  background-color: lightblue;
  width: 150px;
  height: 240px;
  margin-left: 5px;
  font-size: 12px;
  border-radius: 15px;
}
#mainBody {
  background-color: black;
  width: 765px;
  height: 700px;
  margin-left: 10px;
  margin-right: 5px;
  color: gray;
  font-size: 18px;
  padding: 10px;
}
#mainBody,
#menu {
  display: inline-block;
  vertical-align: top;
}
#moreInfo {
  width: 930px;
  height: 30px;
  position: absolute;
  top: 850px;
  background-color: lightskyblue;
  color: gray;
  padding-left: 30px;
  padding-top: 15px;
  margin-left: 5px;
  font: 14px;
}

var {
  color: lightblue;
  font-style: normal;
}
div {
  border-radius: 15px;
}
